.main-header {
  padding-top: 1em;
}

.main-header p{
  text-align: center;
}

.name {
  text-align: center;
}

.nav {
  margin-top: 1.5em;
  padding-left: 0;
}

.nav a {
  display: block;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  padding: .4em;
  border-bottom: 1px solid #ebecec;
}

a:hover {
  color: #f4740c;
  border-bottom-color: #f4740c;
}

.me {
  display: block;
  width: 70%;
  margin: 0 auto;
}


.nav li {
  margin-left: 15px;
  vertical-align: top;
}

.contact-info a {
  font-weight: bold;
}

.contact-info p,
.contact-info a {
  display: inline;
  padding: 10px;
}

.contact-wrapper {
  text-align: center;
}
